@font-face {
  font-family: "Mochiy Pop P One", Montserrat;
  src: url("webfont.eot"); /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfont.woff") format("woff"),
    /* Pretty Modern Browsers */ url("webfont.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("webfont.svg#svgFontName") format("svg"); /* Legacy iOS */
}
* {
  margin: 0px;
  padding: 0px;
}

.navbar.navbar-try {
  background-image: linear-gradient(-90deg, #d38312, #a83279);
}

.background-tryout {
  background-image: linear-gradient(-90deg, #d38312, #a83279);
  color: white;
  border-radius: 3px;
  margin-top: 10px;
  font-family: "Mochiy Pop P One", Montserrat;
}

.col-12.background-tryout {
  background-image: linear-gradient(-90deg, #d38312, #a83279);
  color: white;
  border-radius: 3px;
  margin-top: 10px;
  font-family: "Mochiy Pop P One", Montserrat;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.gradient-text {
  background: -webkit-linear-gradient(-60deg, #a83279, #d38312);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer.footer-custom {
  background-image: linear-gradient(-90deg, #a83279, #d38312);
}

.btn.btn-custom {
  background-color: #b43782;
}

.border.title-custom {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, #a83279),
    color-stop(0.67, #d38312)
  );
  background-image: -moz-linear-gradient(center bottom, #a83279 33%, #d38312 67%);
  padding: 2px;
}

.border.title-custom > div {
  background: #fff;
}

.navbar-brand {
  font-family: "Mochiy Pop P One", sans-serif;
}

.heart-custom-purple {
  color: #a83279;
  font-size: 1.9em;
  text-shadow: 1px 1px 1px #ccc;
}

.icon-size {
  font-size: 1.9em;
}

.heart-custom-orange {
  color: #d38312;
  font-size: 1.9em;
  text-shadow: 1px 1px 1px #ccc;
}

.heart-custom-purple:focus {
  outline: none;
  border: white;
}

.card-height {
  height: 100%;
}
