{% extends "base.html" %} {% load static %} {% block content %}

<!-- Header -->
<container>
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-6">
      <h1 class="display-3 gradient-text mt-3">About</h1>
      <p class="text-secondary">A brief history</p>
      <hr />
    </div>
  </div>
  <!-- Content story -->
  <div class="row d-flex justify-content-center text-center border shadow">
    <div class="col-md-6">
      <h2><span class="gradient-text">Once,</span></h2>
      <p>
        Not many weeks ago I stumbled upon an issue, not involving tissues, but
        a missus.
      </p>
      <p>
        A fair and beauty of a new appartment, a bright and shiny dishwasher,
      </p>
      <p>
        no longer the need for manual wash. Girlfriend, as I, marvelled at the
        machine and on that day
      </p>
      <p>
        We decided that no longer would one(<em>me, I whispered to myself</em>)
        ever solely do the dishes
      </p>
      <p>
        Together, armed with technology of dish-wonder, we raised our fists into
        the yonder
      </p>
      <p>
        No longer shall we, we said, fight about who's to blame for dirty
        dishes, for now a dishwasher will fulfill all of our wishes
      </p>
      <p>
        Fast forward a week, or so, the many of times the dishwasher had saved
        us in the past, it broke out in a crackle and left us manual washing to
        tackle.
      </p>
      <hr />
      <h3><span class="gradient-text">Then,</span></h3>
      <p>
        The dishes piled up, and no matter how many days I washed, she did none
        I learned.
      </p>
      <p>
        She said: "I've done them plenty of times, it's now your turn."<br />A
        lie I discern
      </p>
      <p>
        I responded with the sweetest of voice: "That's not true. I've done them
        all. How would you say that I wonder?"
      </p>
      <p>
        Her face red as blood, legs trembling in anger, and before the fight
        started I thought:
      </p>
      <p>
        Another pair of eyes on this Quarrel and our issues would be caught.
      </p>
    </div>
  </div>
  <!-- Contact us -->
  <div
    class="
      row
      flex-md-column
      justify-content-center
      text-center
      border
      shadow
      mt-3
    "
  >
    <div class="col-md-12 m-3">
      <h3 class="montserrat"><em>Please</em> don't contact us:</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          Phone: <span class="text-muted"><br />+46703334455</span>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Email: <span class="text-muted"><br />justdont@quarrel.com</span>
        </p>
      </div>
    </div>
  </div>
</container>
{%endblock content%}
