{% extends 'base.html' %} {% load i18n %} {% block content %}

<container>
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-6">
      <h1 class="display-4">
        <strong
          >Deactivation-for-a-<em
            ><span class="gradient-text">Vacation!</span></em
          ></strong
        >
      </h1>
      <hr />
      <p>
        <em>We'll just consider this a "See you later"-type-of-situation</em>
      </p>
      <form action="{% url 'deactivate_user' %}" method="POST" class="padding">
        {% csrf_token %} {{ form.as_p}}
        <button
          class="btn btn-primary btn-custom text-white montserrat"
          type="submit"
          name="action"
        >
          {% trans "Confirm" %} &laquo
        </button>
      </form>
    </div>
  </div>
</container>
{% endblock %}
