{% extends 'base.html' %} {% load i18n %} {% block content %}

<container>
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-6">
      <h1 class="display-4">
        <strong
          >Deletion...<br /><em
            ><span class="gradient-text">Completion?</span></em
          ></strong
        >
      </h1>
      <hr />
      <p>
        <em
          >This is like that scene in Lord of the Rings when Frodo goes all
          "Shoo, Sam, shoo!" and Sam actually leaves(?)</em
        >
      </p>
      <p>
        <em
          >But that Po-Tay-To lover sure came back in the end. Maybe
          <strong>you will, too.</strong></em
        >
      </p>
      <!-- Deletion form - deletes user when clicked -->
      <form action="{% url 'delete_user' %}" method="POST" class="padding">
        {% csrf_token %} {{ form.as_p}}
        <button
          class="btn btn-primary btn-custom montserrat text-white"
          type="submit"
          name="action"
        >
          {% trans "Confirm" %} &laquo
        </button>
      </form>
    </div>
  </div>
</container>
{% endblock %}
