{% extends "base.html" %} {% load static %} {% block content %}

<div class="jumbotron bg-light border shadow text-center mb-0 mt-2">
  <h1 class="display-3">
    <strong><span class="gradient-text">Issues</span> at home?</strong>
  </h1>
  <p class="lead">
    Since the dawn of the creation of the Internet, it has been, without a
    doubt<span class="gradient-text">*</span>, the best place to ask for solid
    advice
  </p>
  <hr class="my-4" />
  <p class="text-secondary">
    <em
      >Is someone not doing the dishes? Cleaning? An argument unsolved? Instead
      of practicing your communication skills...</em
    >
  </p>
  <p class="lead">
    <a
      class="btn btn-custom btn-lg mt-3 shadow text-white"
      href="{% url 'user_post' %}"
      role="button"
      aria-label="Post"
      >Ask The Internet &raquo;</a
    >
  </p>
  <p class="float-right">
    <span class="gradient-text text-muted">*</span><em>Some doubt</em>
  </p>
</div>
<div class="row mt-3 border-top-2 border-right-2 border-left-2 shadow mb-1">
  <div class="col-12 background-gradient text-center align-middle shadow">
    <h2 class="m-2">QUARRELS</h2>
  </div>
</div>
<!-- Post section -->
<div class="container mx-auto mt-4 d-flex justify-content-center text-center">
  <div class="row img-fluid">
    {% for post in post_list %}
    <div class="col-md-4 shadow mt-2 col-sm-12 justify-content-center border">
      <div class="card card-height">
        {% if post.title == "CLEANING" %}
        <!-- Adds correct image depending on title chosen -->
        <img
          src="{% static 'images/CLEANING.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        {% elif post.title == "OTHER" %}
        <img
          src="{% static 'images/OTHER.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        {% elif post.title == "JEALOUSY" %}
        <img
          src="{% static 'images/JEALOUSY.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        {% elif post.title == "YOUNEVER" %}
        <img
          src="{% static 'images/YOUNEVER.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        {% else %}
        <img
          src="https://i.imgur.com/FYqU8mB.jpg"
          class="card-img-top"
          alt="..."
        />
        {% endif %}
        <div class="card-body">
          <a href="{% url 'post_detail' post.slug %}" class="post-link">
            <h5 class="card-title link-dark">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <!-- posts date post published -->
              {{ post.date_published}}
            </h6>
          </a>
          <hr />

          <p class="card-text mr-2 ml-2">{{ post.description }}</p>
          <div class="row d-flex text-center align-bottom">
            <div class="col-sm">
              <span class="text-secondary"
                ><i class="fas fa-heart heart-custom-purple"></i
              ></span>
              <span class="text-secondary">
                <!-- Posts content one likes -->
                {{ post.content_one.number_of_likes }}
              </span>
            </div>
            <div class="col-sm">
              <span class="text-secondary"
                ><i class="fas fa-heart heart-custom-orange"></i
              ></span>
              <span class="text-secondary">
                <!-- Posts content two likes -->
                {{ post.content_two.number_of_likes }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Pagination -->
</div>
{% if is_paginated %}
<div class="row d-flex justify-content-center mt-1">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a
          href="?page={{ page_obj.previous_page_number }}"
          class="page-link background-gradient"
          >&laquo; PREV
        </a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li class="page-item">
        <a
          href="?page={{ page_obj.next_page_number }}"
          class="page-link background-gradient"
        >
          NEXT &raquo;</a
        >
      </li>

      {% endif %}
    </ul>
  </nav>
</div>
{% endif %} {%endblock content%}
