{% extends "base.html" %}

{% block content %}



<div class="jumbotron text-center mb-0 mt-2">
    <h1 class="display-4">Issues at home?</h1>
    <p class="lead">Since the dawn of the creation of the Internet, it has been, without a doubt*, the best place to ask for solid advice</p>
    <hr class="my-4">
    <p>Is someone not doing the dishes? Cleaning? An argument unsolved? Instead of practicing your communication skills...</p>
    <p class="lead">
      <a class="btn btn-primary bg-success btn-lg" href="#" role="button" aria-label="Post">Ask The Internet</a>
    </p>
  </div>
  <div class="row border border-top-2 border-right-2 border-left-2 border-success">
      <div class="col-12 text-center align-middle">
          <h2>QUARRELS</h2>
      </div>
  </div>

<!-- Post section -->
<div class="container">
    <div class="row">
      {% for post in post_list %}
      <div class="col-md-4 mb-3 p-3 shadow bg-lightrounded d-flex">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{% url 'post_detail' post.slug %}" class="post-link">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.excerpt }}</p>
          </a>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">{{ post.date_published }}</small></p>
            <p class="card-text text-muted h6">{{ post.number_of_likes }}<i class="far fa-heart"></i></p>
            </div>
      </div>
  </div>
        {% endfor %}

<!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
